# Data Types and Operations

## Data Types

### Built-in Data Types

There are six built-in types in Python: *numerics & boolean, sequences, mappings, classes, instances and exceptions*. 
For this basic Python module, only numberics, boolean and text sequence are covered.

#### Numerics 
There are three distinct numeric types: integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of integers.

All `int` and `float` supports the following arithmetic operation
- `x + y` sum of x and y
- `x - y` difference of x and y
- `x * y` product of x and y
- `x / y` quotient of x and y
- `x // y` floored quotient of x and y
- `x % y` remainder of `x / y`
- `-x` negate x
- `abs(x)` absolute value or magnitude of x
- `int(x)` x converted to integer
- `float(x)` x converted to floating point
- `pow(x, y)` x to the power y
- `x ** y` x to the power of y

#### Reading and Assigning at the same time
You can take value from one variable, manipulate it and then assign the new value to another variable.
> `book_cost = 5.5`  
> `gst = book_cost * 0.08`

You can even manipulate the value and then re-assigned back to itself
> `age = 14`  
> `age = age + 1`

#### Numerical Operations

Numerical data can be operated using mathematical operators.

Both Examples 1 and 2 print out the area and perimeter of a rectangle. Study these two examples and complete **Reflection 1**.

In [ ]:
# Find the area and perimeter of a 10 by 5 rectangle

# Declaring variables needed
length = 10
width = 5

In [ ]:
# Example 1

area = length * width
perimeter = (2 * length) + (2 * width)

print("Area: ", area)
print("Perimeter: ", perimeter)

In [ ]:
# Example 2

print("Area: ", 5 * 10)
print("Perimeter: ", 2 * 5 + 2 * 10)

### Reflection 1

Describe the advantages of Example 1 over Example 2.

**Your Response**

if u want to use the area  again in another part of the code you would need to look at the output of the previous code and copy the value of the area variable and use it in the new code.

#### Floor Division and Modulus Operator

Floor division `//` evaluates to the quotient of a division operation.
Modulus `%` evaluates to the remainder of a division operation. Example 3 shows how floored division and modulus may be used in a program.

#### Example 3

Declare two variables: `dividend` and `divisor`. Assign two integer values to them.

Print out the quotient and remainder when the `dividend` is divided by the `divisor`.

In [2]:
# Code
dividend = 100
divisor = 3
quotient = dividend // divisor
remainder = dividend % divisor
print("Quotient:", quotient)
print("Remainder:", remainder)

Quotient: 33
Remainder: 1

#### Example 4
There are x number of students. The class layout allows 6 seats per row. 

How many full rows are required to fully sits x students?

How many seats are filled in the non-complete row?

In [ ]:
# Code
x = input("Enter the number of students: ")
print("The number of full rows required to seat all the students is:", x//6)
print("There are a total of", x%6, "seats in the non-complete row.")

#### Boolean 
Booleans represent truth values. The `bool` type has exactly two constant instances: `True` and `False`. It is used to determine which decision to take in a program.

The built-in function `bool()` converts any value to a boolean, if the value can be interpreted as a truth value.

`bool` is a subclass of `int`. In many numeric contexts, `False` and `True` behave like the integers 0 and 1, respectively. However, relying on this is discouraged; explicitly convert using `int()` instead.

### Reflection 2
Suggest(without running the cells) which values below are converted to False using `bool()`? \

1. 1
2. 2
3. 0
4. -1
5. "a string"
6. " "
7. ""

**Your Response**

1. True
2. True
3. False
4. True
5. True
6. True
7. False

Use 
`bool(expression)`
to check.

In [ ]:
# Run your code here to check.
print(bool(1))
print(bool(2))
print(bool(0))
print(bool(-1))
print(bool("a string"))
print(bool(""))
print(bool(" "))

True
True
False
True
True
False
True

#### *None* Value
A variable may have value missing or no suitable value assigned to it at some point during run time. Since Python will produce an error message when trying to retrieve a variable that has not been defined, that variable can be create and assigned a special None value to indicates the value is missing.  
> `variable_1 = None`

#### Text Sequence
Textual data in Python is handled with `str` objects, or strings. Strings are immutable sequences of characters (Unicode code points). String literals are written in a variety of ways:
- Single quote `'This is a string'`, `'Hello'`
- Double quotes `"This is also a string"`, `"World"`
- Triple quotes `'''This is triple quotations'''`, `'''Programmer'''`

*String methods* (non-exhaustive)
- `str(x)` convert x to a string
- `str.upper()` convert entire str to upper case letters
- `str.lower()` convert entire str to lower case letters

*Special escape characters*
- `'\n'` new line
- `'\t'` horizontal tab

#### Example 5
This example demonstrates how string may be manipulated using string functions.

In [ ]:
string1 = "Hello World"
string2 = string1.upper()
print(string2)

print("Hello\nWorld!")
print("New\tProgrammer\t!!!")

### Reflection 3

**Arithmetic operators that works with string**

Does strings work with arithmetic operators i.e. +, -, *, /?

**Your Response**

only + and *

### Type Casting

Very often, a data needs to be converted to another type so that they may be operated upon, or used by certain functions. For example, `print()` function returns a string. However, if the user enters a numerical data, it is still returned as a string. Proper conversion, or type casting, is needed. 

In the exercise above, you use `bool(expression)` to cast a value to a boolean data type. Example 4 shows another way casting can be used.

#### Example 6
Investigate the objects returned by the function `input`.

In [ ]:
year_of_birth = input("Enter your birth year:")
current_year = input("Enter the current year:")

# Uncomment the relevant statement to study the effect of type casting.
age = current_year - year_of_birth 
age = int(current_year) - int(year_of_birth)

print("Age:", age)

NameError: name 'age' is not defined

### Reflection 4

Explain the need to cast objects returned by the function `input`.

**Your Response**

this is because the input function returns a string, and if you try to perform mathematical operations on it, it will not work.

## Programming Exercise

### Question 1

Write a program that get the length and width of a rectangle from user.
Calculate and display the area and perimeter of the rectangle.

Sample output:
```
length:  10
width:  8
The area is 80.0 and perimeter is 36.0.
```

1 (a) Write the statements to accept the length and width of the rectangle. You should remember to cast the returned values into appropriate data types.

In [ ]:
# Code
length = input("length: ")
width = input("width: ")

The area is 80.0 and the perimeter is 36.0

1 (b) Compute the area and perimeter of the rectangle.

In [ ]:
# Code
float(area) = int(length) * int(width)
float(perimeter) = 2 * (int(length) + int(width))

1 (c) Print out the area and perimeter of the rectangle in a single statement.

In [ ]:
# Code
print("The area is", area, "and the perimeter is", perimeter)

### Question 2

Write a program to display the amount each person needs to pay in a meal.

Sample output:
```
Cost of meal: 38
Number of people: 3
Service charge (%): 10
GST (%): 9
Cost payable per pax:  15.187333333333333
```

2(a) Write the statements to accept the following values:

* Cost ($)
* Number of people
* Service charge (%)
* GST (%)

In [ ]:
# Code
cost = float(input("Cost of meal: 38"))
people = int(input("Number of people: "))
serviceCharge = float(input("Service charge: "))
gst = float(input("GST : "))

2 (b) Write the code to compute

* service charge from the meal cost.
* GST from the meal cost and service charge.

In [ ]:
serviceChargeCost = cost/100*serviceCharge
gstCost = (serviceChargeCost + cost) /100 * gst

TypeError: unsupported operand type(s) for /: 'str' and 'int'

2 (c) Write the code the compute the total cost payable for the meal.

In [3]:
finalCost = int(cost) + int(gstCost) + int(serviceChargeCost)

ValueError: invalid literal for int() with base 10: ''

2 (d) Print the cost payable by each person.

In [2]:
costPayablePerPerson = finalCost/int(people)
print(costPayablePerPerson)

NameError: name 'finalCost' is not defined