# Repetitions 1

## for-in
`for-in` statement is use when the actual sequence is known. It will traverse through the sequence in order (ascending or descending).
The basic `for-in` syntax:  
`for item in sequence:`  
`    codes to be executed for item`

The two basic sequences covered will be integer and text.

### Integer sequence

Using the `range()` built-in function, a range of integers can be generate.  
The basic syntax:  
1.`range(stop)`  
2.`range(start, stop[, step])`

*start*  
>The value of the start parameter (or 0 if the parameter was not supplied)

*stop*  
>The value of the stop parameter

*step*  
>The value of the step parameter (or 1 if the parameter was not supplied)

#### Example 1

In [ ]:
for i in range(10):
    print(i, end = " ")
print()

0 1 2 3 4 5 6 7 8 9

#### Example 2

In [2]:
for i in range(-10, 10):
    print(i, end = " ")
print()

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

#### Example 3

In [3]:
for i in range(-10, 10, 2):
    print(i, end = " ")
print()

-10 -8 -6 -4 -2 0 2 4 6 8

#### Reflection 1

Describe what you learnt about the function `range()` from Examples 1, 2 and 3. 

**Your Response**

range(first number it goes through, last number it goes to + 1, gap i)

### Text Sequence

A text sequence is a string data type. `for-in` can be use to tranverse each letter of the string.

#### Example 4

This example shows how individul characters in a string data type can be extracted. Any non-alphabetical character is removed.

In [ ]:
mytext = "Hello World!"
stripped_text = ""

for ch in mytext:
    if ch.isalpha():
        stripped_text += ch
print(stripped_text)

### Application of `for-in`

`for-in` is very useful for performing a procedure for a **known** fixed number of repetitions.

#### Example 5

Counting is very common used in repetitions. This is shown in Example 5.

In [ ]:
total = 0
max = 10

for i in range(1,max + 1):
    total = total + i

print("The sum of numbers from 1 to", max, "is", total)

### Exercise 1 a

Write a program to count the number of characters, including spaces, in a string.

Use this paragraph as a sample to test your code.

> Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, “and what is the use of a book,” thought Alice “without pictures or conversation?”

In [ ]:
# Code
count = 0
para= "Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, “and what is the use of a book,” thought Alice “without pictures or conversation?”"
for i in para:
    count +=1
print(count)

#### Exercise 1b

Modify your solution in 1a to count the number of words in the string.

In [ ]:
# Code
blank = 0
for i in para:
    if i == " ":
        blank += 1
print(blank + 1)

### Loop inside a loop¶

A loop can contain loop(s) within its iterated code.  

`for a in range(10):`    #Loop_A  
`    for b in range(8):`  #Loop_B  
`        print("*")`  
The above example contains two for-loops, it is commonly known as "double for-loops"

Loop_A repeats 10 times, and for each repeat, it will run Loop_B 8 times.  
Hence, 80 `*` will be printed. Loop_A * Loop_B (10 * 8 = 80).  

### Double Loops
Double loops (`for` or `while`) are commonly use to traverse over a table, grid.  

Consider the following image made up of the letter x:  
xxxxxx  
xxxxxx  
xxxxxx  
xxxxxx  
xxxxxx  

1. There are a total of 5 rows, and each row has 6 x's (columns)  
2. there are a total 6 columns and each column has 5 x's (rows)

Because Python print in a left to right, then top to bottom order, it make more programming sense to use the first statement.  
> There are a total of 5 rows, and each row has 6 x's (columns)

#### Exercise 1

Write a program to:
Ask user for an integer, n.
Display a square of n by n of "*"
Eg. n = 5

\* * * * * \
\* * * * * \
\* * * * * \
\* * * * * \
\* * * * *

In [ ]:
# Code
n = input("Please enter an integer: ")
for i in range(n):
    print("*"*n)

*****
*****
*****
*****
*****

#### Exercise 2

Write a program that asks for a positive integer n, and print out the following shape:

Output:\

\* \
\** \
\*** \
\**** \
\*****

In [ ]:
# Code
n = input("Please enter an integer: ")
for i in range(n+1):
    print("*"*i)

*
**
***
****
*****

## Programming Exercises

### Question 1

Ask the user to provide a positive integer.

Print out all the even numbers less than this positive number..

In [13]:
# Code
integer = int(input("Enter a positive integer:"))

for i in range(integer):
    if i % 2 == 0:
        print(i, end = "\t")
print()

0	2	4	6	8	10	12	14	16	18	20

### Question 2

Using `for-in` to determine the number of vowels in a string.
You may use the first paragraph of Alice in Wonderland (Example 1).

In [14]:
# Code

my_text = 'Alice was beginning to get very tired of sitting by her sister on the bank, and of having nothing to do: once or twice she had peeped into the book her sister was reading, but it had no pictures or conversations in it, “and what is the use of a book,” thought Alice “without pictures or conversation?"'
count = 0
vowels = "aeiouAEIOU" # Students may not know about searching for char in string. 

for ch in my_text:
    if ch in vowels:
        count += 1

print("Vowels:", count)

Vowels: 93

### Question 3

Write a Python program that ask for 5 positive numbers.

Print out the highest number.

In [17]:
# Code
# Solution 1
number = 0
max = -1

for i in range(5):
    number = int(input("Enter an integer:"))
    if number > max:
        max = number

print("Highest number:", max)

Highest number: 5

In [20]:
# Solution 2
numbers = []

for i in range(5):
    number = int(input("Enter an integer:"))
    numbers.append(number)

numbers = sorted(numbers)
print(numbers[4])

5