# Lists

Lists are mutable sequences, typically used to store collections of homogeneous items (where the precise degree of similarity will vary by application).

### List Literals
List literals are written within square brackets [ ]. Lists work similarly to strings -- use the len() function and square brackets [ ] to access data, with the first element at index 0.

In [ ]:
# creating an empty list
mylist = [ ] 

# creating a list with 7 items
colours = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

print(colours[0])  # red
print(colours[3])  # green
print(colours[-1]) # violet

In [ ]:
# creating a list of repeat items
numberlist = [0] * 10
print(numberlist)

### Traversing through a List
To visit each element in order of sequence.

`for items in listname:`  
Use the above when its is not required to know the position index of items.  

`for index in range(len(listname)):`
Use this code when the index position of item is required

In [ ]:
target = "blue"

for item in colours:
    if item == target:
        print(f"{target} found in the list.")


for i in range(len(colours)):
    if colours[i] == target:
        print(f"{target} is found at position {i}")

### Common List Operations

| Operation | Result |
|---|---|
|x in list1 | True if an item of list1 is equal to x, else False|
|x not in list1 | False if an item of list1 is equal to x, else True|
|list1 + list2|the concatenation of list1 and list2|
|list1 * n or n * list1|equivalent to adding list1 to itself n times|
|list1[i]|i-th item of s, origin 0|
|list1[i:j]|slice of list1 from i to j|
|list1[i:j:k]|slice of list1 from i to j with step k|
|len(list1)|length of list1|
|min(list1)|smallest item of list1|
|max(list1)|largest item of list1|
|list1.index(x[, i[, j]])|index of the first occurrence of x in list1 (at or after index i and before index j)|
|list1.count(x)|total number of occurrences of x in list1|

### List Methods
Common list methods

`list.append(x)`  
Add an item to the end of the list. 

`list.extend(list2)`  
Extend the list by appending all the items from the list2. 

`list.insert(i, x)`  
Insert an item at a given position. The first argument is the index of the element before which to insert, so `a.insert(0, x)` inserts at the front of the list.

`list.remove(x)`  
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

`list.pop([i])`  
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. It raises an IndexError if the list is empty or the index is outside the list range.

`list.clear()`  
Remove all items from the list. Similar to `del a[:]`.

`list.index(x[, start[, end]])`  
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

`list.count(x)`  
Return the number of times x appears in the list.

`list.sort(*, key=None, reverse=False)`  
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

`list.reverse()`  
Reverse the elements of the list in place.

In [29]:
mydata2 = "13 2 34 10 6 18 2"
list2 = mydata2.split()
list3 = [0]

for item in list2:
    if item != list3[-1]:
        list3.append(int(item))
    else:
        continue

print(list3[0]+list3[1])
sortedlist = sorted(list3)
temp = 0
for i in sortedlist:
    temp+=i
print(temp/len(sortedlist))

13
10.625

In [ ]:
mylist = [24, 65, 12, 17, 33, 79]

# add an item to the back of the list
mylist.append(44)
print(mylist)

In [ ]:
# add an item to a particular index
mylist.insert(2, 88)
print(mylist)

In [ ]:
# delete the last item from list
mylist.pop()
print(mylist)

In [ ]:
# delete an item at a particular index
mylist.pop(3)
print(mylist)

In [ ]:
# remove item from list
mylist.remove(88)
print(mylist)

In [ ]:
# sort the list in ascending order
mylist.sort()
print(mylist)

### Using .split() to create a list of characters / numbers

A common practice is to be able to enter all the data in a single line. Reading the input data as a string, then use the method .split() will split the data by the space character.

In [ ]:
mydata1 = "Edward Tan Yong Seng"
list1 = mydata1.split()
print(mydata1)

In [ ]:
mydata2 = "13 34 2 10 6 18"
# split the mydata2 into list2
# convert all the items in the list2 into int datatype

print([int(x) for x in mydata2.split()]) # list comprehention (can use normal for loops too ig)

### Exercise 1: Potluck
Your class is holding a potluck whereby all students are to bring along a small gift for exchange. Each gift has an index number that is similiar to that student's index number.
Recipients of the gift are randomly selected. All students cannot be selected for his/her own gift.
The class chairperson tracks the gift on a piece of paper.   
| Gift Index | Index of Student selected for the Gift |
|---|---|
| 1 | 6 |
| 2 | 4 |
| 3 | 5 |
| 4 | 3 |
| 5 | 1 |
| 6 | 2 |  
E.g. Student 6 recieved the gift from Student 1  

Form Teacher needs a new table showing in the order of students' index and which gift he/she recieved.  
| Student Index | Gift Index |
|---|---|
|1|5|
|2|6|
|3|4|
|4|2|
|5|3|
|6|1|


**Input**  
The first input is n, where 2 < n < 2000, number of students.
The next n number of input will be the index of student select for $gift_0, gift_1, ..., gift_n$  

*Example*  
6  
6 4 5 3 1 2  

**Output**  
A sequence of gift index. 

*Example*  
The output for the input above consists of the numbers:  

5 6 4 2 3 1

In [ ]:
## Exercise 1 code

### Exercise 2: Zero-Sum
Given four lists: A, B, C and D. There exists uniquely one value from each of the lists that sum up to zero.

$$\exists! a \in A, b \in B, c \in C, d \in D : (a+b+c+d) = 0$$  

**Input**  
The first line of input contains four numbers, a, b, c, and d, separated by a space
character, indicating the number of elements in each of the four sets. Each of these numbers is a positive integer 1 ≤ a, b, c, d ≤ 500. The following a + b + c + d lines contain the elements, where −10000 <= elements <= 10000. The elements of the first set are listed first, followed by the elements of the second set, etc
  
*Example*  
3 2 4 2  
5  
17  
-8  
-13  
19  
6  
-9  
10  
0  
-14  
7  

**Output**  
The output consists of the four integers, separated by a space character. The numbers must appear in the order in which they are listed in the input file.  

*Example*  
The output for the input above consists of the numbers:  
17 -13 10 -14

In [40]:
# Exercise 2 code
A = [5,17,-8,9,1,2,3,45]
B = [-13,19]
C = [6,-9,10,0]
D = [-14,7]
for a in A:
    for b in B:
        for c in C:
            for d in D:
                if a+b+c+d == 0:
                    print(a,b,c,d)

17 -13 10 -14

### 2d List
2d list is an array that stores values in a matrix form. It is similar to a two-dimensional array in other languages. 

#### Applications of Python 2D List
2d lists are useful for data analysis, image processing and other types of scientific computing. Many scientific libraries such as NumPy and Matplotlib rely on 2d lists to store different datasets and do calculations on them. 

*Examples of applications (non-exhaustive)*
- Game boards
- Tabular data
- Matrices in Mathematics
- Grids
- DOM elements in web development
- Scientific experiment data

In [ ]:
# 2d list literals
grid1 = [ [1,2,3], [4,5,6], [7,8,9] ]
print(grid1)
print()
for row in grid1:
    print(row)

In [ ]:
# adding a list of columns into the list(of rows)
grid2 = [] #empty list fo rows
temp = [] 
for i in range(1,10):
    temp.append(i)
    if i%3 == 0:
        grid2.append(temp)
        temp = []

print(grid2)

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9], [1, 2, 3, 4, 5, 6, 7, 8, 9]]

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3

### Exercise 3: Janitor
**Adapted from AIO 2018**  
Congratulations! You have been appointed head bathroom janitor of your school! 
The bathroom floor is covered in a rectangular grid of tiles. No one is watching you very closely, so pouring a bucket of water over the floor is enough to make it look like you cleaned it. There is one small problem. The floor is uneven, so depending on which tile you pour the water on, some tiles may not become wet at all, and your deception will be exposed.
Water can flow from any square to any adjacent square of lower height, where adjacent squares
may be to the north, south, east or west (water cannot flow across diagonals).
To finish your chore as soon as possible, you’ve decided to find out what is the fewest number
of tiles you need to pour water on to make sure every tile becomes wet.

**Input**  
- The first line of input contains two space-separated integers, R and C. There are R
rows and C columns of tiles.
The next R lines each contain C space-separated integers, giving the initial heights of the
tiles. The tradie did such a terrible job at tiling the bathroom that literally no two adjacent tiles have the same height, even after any replacements.

*Example Input*  
3 4  
5 3 2 0  
4 8 4 3  
5 7 6 1  

**Output**  
The output should the number of the fewest tiles you need to pour water on to make sure every tile gets wet.

*Example Output*  
2

**Explanation:**  
|| | | |
|---|---|---|---|
|5|3|2|0
|4|8|4|3|
|5|7|6|1|

Water are required to pour on tiles R1C1 and R2C2 to ensure the entire bathroom floor is wet.